.audience{
    transition: all 0.5s ease;
}
.audience::before {
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #ff4a17;
    transition: all 0.5s ease;
  }
  
  .audience:hover::before {
    width: 100%;
  }
  