@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes smoothZoom {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.animate-slow-spin {
  animation: spin 10s linear infinite;
}

.animate-slow-zoom {
  animation: smoothZoom 5s ease-in-out infinite;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f6fe;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4a17;
  border-radius: 3px;
}
.glassy {
  position: relative;
  overflow: hidden;
}
.glassy img {
  transition: all 0.5s ease-in-out;
}

.glassy::before {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  position: absolute;
  left: -125%;
  top: 0;
  transform: skewX(-25deg);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
